@model Restaurant.MVModels.MVAbout
@{
    ViewData["Title"] = "Index";
    Layout = "_Layout_page";
}

<div class="breadcrumb-area bg-img ptb-80" style="background-image:url(/assets/img/banner/breath.jpg);">
    <div class="container">
        <div class="breadcrumb-content text-center">
            <h3>about us</h3>
            <ul>
                <li>
                    <a href="/Home">Home</a>
                </li>
                <li class="active">about us </li>
            </ul>
        </div>
    </div>
</div>
<div class="about-area ptb-95">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-lg-6">
                <div class="about-content pr-30">
                    @Html.Raw(Model.SystemSetting.SystemSettingWelcomeNoteTitle)
                    @Html.Raw(Model.SystemSetting.SystemSettingWelcomeNoteBreef)

                    <div class="about-peragraph">
                        @Html.Raw(Model.SystemSetting.SystemSettingWelcomeNoteDesc)
                        <div class="default-btn-style mt-35">
                            <a href="@Model.SystemSetting.SystemSettingWelcomeNoteUrl">read more</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-img">
                    <img alt="" src="~/System_img/@Model.SystemSetting.SystemSettingWelcomeNoteImageUrl">
                </div>
            </div>
        </div>
    </div>
</div>


<div class="services-area pt-100 pb-70 gray-bg">
    <div class="container">
        <div class="section-title text-center mb-50">
            <h2>Our Services</h2>
            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim nostrud exercitation ullamco laboris nisi.</p>
        </div>
        <div class="row">


            @foreach (var item in Model.MasterServices)
            {
                <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                    <div class="single-service text-center mb-30">
                        @Html.Raw(item.MasterServicesIcon)
                        <h3>@item.MasterServicesTitle</h3>
                        <p> @item.MasterServicesDesc</p>
                    </div>
                </div>
            }


        </div>
    </div>
</div>
