@model Restaurant.MVModels.MV_Front
@{
    ViewData["Title"] = "Index";
}


<div class="slider-area">
    <div class="slider-active owl-dot-style owl-carousel">
        @foreach (var item in @Model.MasterSliders)
        {
            <div class="single-slider bg-img height-100vh d-flex align-items-center justify-content-center" style="background-image: url('/Sider_image/@item.MasterSliderImageUrl' );">

                <div class="slider-content-wrap slider-animated-1">
                    <div class="slider-content pt-100">
                        @Html.Raw(item.MasterSliderTitle)
                        @Html.Raw(item.MasterSliderBreef)
                        @Html.Raw(item.MasterSliderDesc)
                        <div class="slider-btn mt-20">
                            <a class="animated" href="product-details.html">read more</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<div class="about-area ptb-95">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-lg-6">
                <div class="about-content pr-30">
                    @Html.Raw(Model.SystemSetting.SystemSettingWelcomeNoteTitle)
                    @Html.Raw(Model.SystemSetting.SystemSettingWelcomeNoteBreef)

                    <div class="about-peragraph">
                        @Html.Raw(Model.SystemSetting.SystemSettingWelcomeNoteDesc)
                        <div class="default-btn-style mt-35">
                            <a href="@Model.SystemSetting.SystemSettingWelcomeNoteUrl">read more</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-img">
                    <img alt="" src="~/System_img/@Model.SystemSetting.SystemSettingWelcomeNoteImageUrl">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="popular-product gray-bg pt-100 pb-100">
    <div class="container">
        <div class="section-title text-center mb-50">
            <h2>Our Popular Dishes</h2>
            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim nostrud exercitation ullamco laboris nisi.</p>
        </div>
        <div class="product-slider-active owl-carousel">

            @foreach (var item in @Model.MasterItemMenu)
            {
                <div class="product-style-wrap">

                    <img alt="" src="~/Item_Image/@item.MasterItemMenuImageUrl">
                    <div class="product-content text-center">
                        <h4>
                            @item.MasterItemMenuTitle
                        </h4>
                        <p>@item.MasterItemMenuBreef</p>
                        <span>$@item.MasterItemMenuPrice</span>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="popular-bg-img">
        <img alt="" src="assets/img/banner/popular.png">
    </div>
</div>
<div class="book-table ptb-100 bg-img" id="book" style="background-image:url(/assets/img/banner/book-a-table.jpg);">
    <div class="container">
        <div class="section-title text-center mb-50">
            <h2>book a table</h2>
            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim nostrud exercitation ullamco laboris nisi.</p>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="reserve-form">
                    <h3 class="reserv-title">Reservation Form</h3>
                    <form action="#">
                        <div class="reserve-form-top">
                            <input type="text" placeholder="Full name">
                            <input type="email" placeholder="Email address">
                            <input type="text" placeholder="Mobile number">
                            <div class="date-time">
                                <select>
                                    <option selected="">Select Date And Time</option>
                                    <option>26 Dec - 10.00pm</option>
                                    <option>2 Jan - 10.00pm</option>
                                    <option>17 Dec - 10.00pm</option>
                                </select>
                            </div>
                        </div>
                        <div class="reserve-submit mt-40">
                            <button type="submit"> submit </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="book-img">
                    <img src="/assets/img/banner/table.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="testimonial-area ptb-100 gray-bg">
    <div class="container">
        <div class="section-title text-center mb-50">
            <h2>what people say</h2>
            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim nostrud exercitation ullamco laboris nisi.</p>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="testimonial-image-slider text-center">
                    <div class="single-testi-text">
                        <p>The point of using Lorem Ipsum is that more-or-less normal distribution of letters, as opposed to using</p>
                    </div>
                    <div class="single-testi-text">
                        <p>The point of using Lorem Ipsum is that more-or-less normal distribution of letters, as opposed to using</p>
                    </div>
                    <div class="single-testi-text">
                        <p>The point of using Lorem Ipsum is that more-or-less normal distribution of letters, as opposed to using</p>
                    </div>
                    <div class="single-testi-text">
                        <p>The point of using Lorem Ipsum is that more-or-less normal distribution of letters, as opposed to using</p>
                    </div>
                </div>
                <div class="testimonial-text-slider text-center">
                    <div class="single-testi-img">
                        <img src="/assets/img/team/tesi-1.png" alt="testi 1" />
                        <h3>William Patel</h3>
                        <h5>customer</h5>
                    </div>
                    <div class="single-testi-img">
                        <img src="/assets/img/team/tesi-2.png" alt="testi 1" />
                        <h3>Diane Walsh</h3>
                        <h5>customer</h5>
                    </div>
                    <div class="single-testi-img">
                        <img src="/assets/img/team/tesi-1.png" alt="testi 1" />
                        <h3>Carl Carr</h3>
                        <h5>customer</h5>
                    </div>
                    <div class="single-testi-img">
                        <img src="/assets/img/team/tesi-2.png" alt="testi 1" />
                        <h3>Linda Nelson</h3>
                        <h5>customer</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 
    <div class="offer-area gray-bg ptb-100 bg-img" style="background-image: url('/Offer_image/@Model.MasterOffer_img' );">

 
        <div class="container">
            <div class="row">


                @foreach (var item in Model.MasterOffer)
                {
                    <div class="xl-auto col-xl-5 ms-auto col-lg-6 col-md-12">
                        <div class="offer-content">
                            <h5>@item.MasterOfferTitle</h5>
                            <h2>@item.MasterOfferBreef</h2>
                            <p>@item.MasterOfferDesc</p>
                            <div class="default-btn-style book-btn mt-35">
                                <a class="scroll-up" href="#book">Book Now</a>
                            </div>
                        </div>
                    </div>
                }




            </div>
        </div>
    </div>
    <div class="brand-logo-area ptb-100">
        <div class="container">
            <div class="brand-logo-active owl-carousel">

                @foreach (var item in @Model.MasterPartner)
                {
                    <div class="single-brand-logo">
                        <img alt="" src="~/Partner_img/@item.MasterPartnerLogoImageUrl">
                    </div>
                }

            </div>
        </div>
    </div>

